<div class="user">
  <form name="input" action="/cards/have/new/" method="post">
	<table>
	  <tr><th>Card Name</th><td><input type="text" name="name" class="user"/></td></tr>
      <tr><th>Amount in $US</th><td><input type="text" name="amount" class="user" /></td></tr>
    </table>
    <input type="submit" value="add" />
  </form>
</div>