<div class="user">
  <form name="input" action="/cards/want/new/" method="post">
	<table>
	  <tr><th>Card Name</th><td><input type="text" name="name" class="user"/></td></tr>
    </table>
    <input type="submit" value="add" />
  </form>
</div>