<div class="set">
  <form name="input" action="/set/" method="post">
	<table>
	  <tr><th>name</th><td><input type="text" name="name" class="set"/></td></tr>
      <tr><th>description</th><td><input type="text" name="desc" class="set" /></td></tr>
    </table>
    <input type="submit" value="submit" />
  </form>
</div>