<div class="user">
  <form name="input" action="/reg/" method="post">
	<table>
	  <tr><th>user name</th><td><input type="text" name="username" class="user"/></td></tr>
      <tr><th>pass</th><td><input type="password" name="password" class="user" /></td></tr>
      <tr><th>first</th><td><input type="text" name="first_name" class="user" /></td></tr>
      <tr><th>last</th><td><input type="text" name="last_name" class="user" /></td></tr>
      <tr><th>email</th><td><input type="text" name="email" class="user" /></td></tr>
    </table>
    <input type="submit" value="go" />
  </form>
</div>